body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #281f63; /* Purple background */
    color: white;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    width: 350px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content{
    padding-top: 20px;
}
h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

.back-to-home {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}

.arrow-icon {
    width: 20px; /* Adjust the size of the arrow */
    height: 20px;
    margin-right: 10px; /* Adds spacing between the arrow and the text */
    vertical-align: middle; /* Aligns the arrow vertically with the text */
    
}
